
<header class="header header-nav-menu">
    <div class="logo-container">
        <!---LOGO SHIT RIGHT HERE-->
        <a href="{{ path('backend_admin_homepage') }}" class="logo">
            <img src="{{ asset('build/images/portoadmin/logo_mayaexpress.png') }}" width="75" height="35" alt="MayaExpress" />
        </a>
        <button class="btn header-btn-collapse-nav d-lg-none" data-toggle="collapse" data-target=".header-nav">
            <i class="fas fa-bars"></i>
        </button>

        {{ render(controller('App\\Controller\\DefaultController::menuAction')) }}

        {#
        <div onclick="$('.sidebar-left').toggle()" class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>

        #}
    </div>


</header>
